@keyframes slide {
    from {margin-left: 0%;}
    to {margin-left: 70%;}
}


.myBox {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin-bottom: 10px;
  /* animation: slide 2s ease-in; */
}